<h1>
  {{titulo}}
</h1>
<div *ngIf="alertMessage">
  <div class="alert alert-info">
    {{alertMessage}}
  </div>
</div>


<form #formArtist="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <label>Nombre:</label>
    <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required class="form-control">
    <span *ngIf="!name.valid && name.touched">
      El nombre es obligatorio
    </span> 
  </p>
  <p>
    <label>Description:</label>
    <textarea type="text" #description="ngModel" name="description" [(ngModel)]="artist.description" required></textarea>
    <span *ngIf="!description.valid && description.touched">
      La descripcion es obligatoria
    </span> 
  </p>

  <!-- <p>
    <a class="btn btn-primary btn-lg" type="submit">
      Actualizar
    </a>
  </p> -->
  <input type="submit" value="Actualizar" [disabled]="!formArtist.form.valid">
</form>